<div class="mt-6">
    <div class="text-sm hidden">
        تم نطوير هذا الموقع: <span class="mr-2 text-blue-700">من طرف إتقان</span>
    </div>
    <div class="text-xs" dir="ltr">
        With respect to all copyright laws, this website is not an official website of ISIE.
        <br><a href="https://www.facebook.com/anefzaoui1/?ref=dev" target="_blank" class="text-blue-600 underline">Ahmed
            Nefzaoui</a>
    </div>
    <div class="text-xs text-center">
        يوجد خطأ بالموقع؟ <a href="https://www.facebook.com/anefzaoui1/?ref=siteerror" target="_blank"
            class="text-blue-600 underline">إتصل بنا</a>
    </div>
</div>