<div class="mt-6 pb-6">
    <div class="text-xs" dir="ltr">
        With respect to all copyright laws, this website is not an official website of ISIE.
        <br><a href="https://www.facebook.com/anefzaoui1/?ref=dev" target="_blank" class="text-blue-600 underline">Ahmed
            Nefzaoui</a>
    </div>
    <div class="text-sm text-center flex gap-x-4 mt-4 items-center content-center justify-center">
        <span><a href="/about" class="text-blue-600 underline">حول الموقع</a></span>
        <span><a href="https://www.facebook.com/anefzaoui1/?ref=contact" target="_blank" class="text-blue-600 underline">إتصل بنا</a></span>
        <span><a href="https://www.facebook.com/anefzaoui1/?ref=siteerror" target="_blank" class="text-blue-600 underline">يوجد خطأ بالموقع ؟</a></span>
    </div>
</div>

<div class="bg-teal-100 border-t-4 border-l border-r border-b border-teal-500 text-teal-900 px-4 py-3 mb-4 flex items-center content-center justify-center mx-auto" role="alert">
    <div class="flex items-center lg:inline-flex">
        <div class="py-1"><svg class="fill-current h-6 w-6 text-teal-500 ml-4" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <path
                    d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z" />
            </svg></div>
        <div>
            <p class="font-bold">27 ألف زائر</p>
            <p class="text-sm">
                <span>بفضل مجهوداتكم إستطعنا إستقبال أكثر من 27 ألف زيارة، نرجو أن تكون المنفعة قد عمت، شكرا لكم، و عاشت تونس</span>
                <img src="/img/44345.png" class="w-5 h-5 inline" alt="">
            </p>
            <p class="text-sm text-left mt-2">– أحمد نفزاوي</p>
        </div>
    </div>
</div>