<div class="max-w-2xl mx-auto my-8 px-3 pt-8 text-slate-700 flex flex-col content-center items-center justify-center">
    <a href="/" class="mb-6">
        <img src="/img/logo.png" alt="google Logo" class="object-cover block" />
    </a>
    <div class="text-center mb-8 mt-3 flex justify-center content-center items-center">
        <a href="#" id="sharebtn"
            class="inline-flex items-center px-6 py-2 text-slate-500 bg-slate-200 rounded-md hover:bg-slate-300 hover:text-slate-700 mx-1">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-4 h-4 ml-2" fill="currentColor">
                    <path
                        d="M503.7 226.2l-176 151.1c-15.38 13.3-39.69 2.545-39.69-18.16V272.1C132.9 274.3 66.06 312.8 111.4 457.8c5.031 16.09-14.41 28.56-28.06 18.62C39.59 444.6 0 383.8 0 322.3c0-152.2 127.4-184.4 288-186.3V56.02c0-20.67 24.28-31.46 39.69-18.16l176 151.1C514.8 199.4 514.8 216.6 503.7 226.2z" />
                </svg>
            </span>
            <span class="text-sm md:text-base">شارك الموقع</span>
        </a>
        <a href="/"
            class="inline-flex items-center px-6 py-2 text-slate-500 bg-slate-200 rounded-md hover:bg-slate-300 hover:text-slate-700 mx-1">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-4 h-4 ml-2" fill="currentColor">
                    <path
                        d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z" />
                </svg>
            </span>
            <span class="text-sm md:text-base">إبحث عن مركز</span>
        </a>
    </div>
    <h1 class="text-2xl text-center font-bold mb-4">حول الموقع</h1>
    <p class="text-justify mb-4">
        يهدف موقع bureauvote.tn إلى مساعدة المواطنين بتونس والخارج على إيجاد بيانات مراكز الإقتراع
        من أجل تسهيل عملية تحيين و تغيير مكان الإقتراع فيما يخص إستفتاء 25 جويلية 2022 حول مشروع دستور تونس الجديد.
    </p>

    <h1 class="text-2xl text-center font-bold mb-4 mt-8">حول المطور</h1>
    <p class="text-justify mb-8">
        تم تطوير هذا الموقع و بناء قاعدة البيانات الخاصة به بجهد شخصي خاص. إسمي أحمد نفزاوي، مطور برمجيات الحاسوب
        و أستاذ جامعي من المجمع المهني لطلبة الماجستير بالمعهد العالي للدراسات التكنولوجية توزر.
        <br>
        لمزيد من المعلومات تواصل معي عبر الصفحة الخاص <a href="https://www.facebook.com/anefzaoui1/" target="_blank"
            class="text-blue-600 underline">Ahmed Nefzaoui</a>.
    </p>

    {{> footer }}
</div>