<div class="flex flex-col items-center justify-center min-h-screen mx-4 my-8">
    <a href="/" class="block mb-6">
        <img src="/img/logo.png" alt="google Logo"
            class="object-cover block" />

    </a>
    <div class="mb-6 text-2xl text-gray-700 font-bold">
        نتائج البحث عن مراكز إقتراع
    </div>
    <div class="mb-6 text-base text-gray-700">نتائج البحث عن مركز إقتراع بالجملة بالكالمات المفاتاح التالية:
        <b>{{keyword}}</b>
        <div class="text-center mt-2">
            <a href="#" id="sharebtn" class="text-blue-700">شارك نتيجة البحث</a>
            <span class="px-1">|</span>
            <a href="/" class="text-blue-700">إبحث مرة أخرى</a>
        </div>
    </div>

    <div class="bg-white rounded-md max-w-5xl w-full">
        
        <div class="text-center text-red-600 text-xl border-b border-t py-4">{{error}}</div>

        <div class="mt-6">
            <div class="text-sm hidden">
                تم نطوير هذا الموقع: <span class="mr-2 text-blue-700">من طرف إتقان</span>
            </div>
            <div class="text-xs text-center" dir="ltr">
                With respect to all copyright laws, this website is not an official website of ISIE.
            </div>
        </div>

    </div>